body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
}
.brand {
    font-weight: bold;
} 
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    border-bottom: 1px solid #ccc;
}  
.hero-text {
    flex: 1;
    justify-content: center;
    text-align: center;
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.hero-button {
    background-color: #007BFF;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero-button:hover {
    background-color: #0056b3;
}
.biodata {
    text-align: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
}
.biodata-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.card {
    display: grid;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    grid-template-columns: 2fr 1fr;
}
.card-title {
    font-weight: bold;
    color: #007BFF;
    text-align: center;
}
.portofolio {
    padding: 40px 20px;
    text-align: center;
}
.portofolio-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.portofolio-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    min-width: 200px;
}
.portofolio-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #007BFF;
    color: white;
}

@media screen and (max-width: 768px) { 
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-image {
        margin-bottom: 20px;
    }

    .biodata-grid {
        grid-template-columns: 1fr;
    }
}        